<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Pollution Prediction</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.3.1/dist/cosmo/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/home_style.css">

</head>
<body>
    <div class="container text-center">
        <h1>Air Quality Index</h1>
        <p>
            Air pollution poses a significant threat to human health, ecosystems, and the climate. Harmful pollutants such as ozone (O₃), nitrogen dioxide (NO₂), and particulate matter (PM2.5, PM10) impact the quality of air we breathe. 
            To tackle this pressing challenge, our project introduces an advanced Air Quality Index (AQI) prediction system, designed to forecast AQI levels with precision by analyzing a comprehensive range of air components. 
            This tool empowers proactive responses to air quality deterioration, safeguarding public health and the environment.
        </p>
        <p>
            At the core of this initiative lies the rigorous development and evaluation of predictive models, including Decision Tree, Linear Regression, and Random Forest. By leveraging these models, 
            we identified the most accurate and reliable approach to estimating AQI. This foundation enables informed health advisories, effective policy-making, and environmental management, 
            marking a pivotal step toward mitigating the adverse effects of air pollution.
        </p>
        <p>
            Our project exemplifies the power of technological innovation in addressing environmental challenges. By equipping stakeholders with precise AQI forecasts, we aim to drive impactful strategies 
            that ensure cleaner air, healthier communities, and a sustainable future for all.
        </p>
        <p class="text-center">
            Click one of the buttons below to predict the Air Quality Index:
        </p>
        <a href="/predict_manually" class="btn btn-primary btn-custom">Predict Manually</a>
        <a href="/predict_automatically" class="btn btn-primary btn-custom">Predict Automatically</a>
        <a href="/compare" class="btn btn-primary btn-custom">Make Comparison</a>
    </div>
</body>
</html>


